.calculator {
    width: 950px;
    margin: 0;
    padding: 15px;
    border-radius: 7px;
}

label {
    float: left;
}

input[type=number] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

button[type="submit"] {
    width: 30%;
    height: 2rem;
}

div[data-hasil] {
    margin-top: .5em;
    font-size: 2em;
}




